.empty_space_height400 {
    width: 100%;
    height: 400px;
}
.empty_space_height350 {
    width: 100%;
    height: 350px;
}
.empty_space_height300 {
    width: 100%;
    height: 300px;
}
.empty_space_height200 {
    width: 100%;
    height: 200px;
}
.empty_space_height150 {
    width: 100%;
    height: 150px;
}
.empty_space_height100 {
    width: 100%;
    height: 100px;
}
.empty_space_height50 {
    width: 100%;
    height: 50px;
}
.empty_space_height75 {
    width: 100%;
    height: 75px;
}
.empty_space_height79 {
    width: 100%;
    height: 79px;
}
.empty_space_height20 {
    width: 100%;
    height: 20px;
}
