input[type='text'],
input[type='email'],
input[type='number'],
textarea {
    background-color: transparent;
    border: 1.5px solid #b1b5c4;
    color: $black-color;
    padding: 5px 10px;
    border-radius: 8px;
    overflow: hidden;
    outline: none;
    &::placeholder {
        color: $grey-color;
    }
    &:focus {
        box-shadow: none;
        outline: none;
        border: 1.5px solid $blue-color;
    }
}
