$screen-sxx-max: 391px;
$screen-sx-max: 419px;
$screen-sm-max: 769px;
$screen-md-max: 1024px;
$screen-lg-max: 1680px;

@mixin sxx {
    @media screen and (max-width: #{$screen-sxx-max}) {
        @content;
    }
}

@mixin sx {
    @media screen and (max-width: #{$screen-sx-max}) {
        @content;
    }
}

@mixin sm {
    @media screen and (max-width: #{$screen-sm-max}) {
        @content;
    }
}

@mixin md {
    @media screen and (max-width: #{$screen-md-max}) {
        @content;
    }
}

@mixin lg {
    @media screen and (max-width: #{$screen-lg-max}) {
        @content;
    }
}
