// Color
$green-color: #198754;
$green-bold-color: #0a2129;
$primary-color: #0d6efd;
$secondary-color: #6c757d;
$white-color: #FFFFFF;
$black-color: #000000;
$purple-color: #7E7CFF;
$purple-color1: #9757D7;
$purple-bold-color: #18193A;
$description-color: #585E7A;
$red-color: #FF4652;
$red-color1: rgba(239, 70, 111, 1);
$blue-color: #1dbbbd;
$grey-color: #777E90;
$border-grey-light: #E6E8EC;

// Font size
$fs_09: 0.9rem;
$fs_08: 0.8rem;
$fs_07: 0.7rem;
$fs_06: 0.6rem;
$fs_05: 0.5rem;
$fs_04: 0.4rem;
$fs_1_2: 1.2rem;
$fs_1_5: 1.5rem;

// Width Percent
$w_100: 100%;
$w_90: 90%;
$w_80: 80%;
$w_70: 70%;
$w_60: 60%;
$w_50: 50%;
$w_40: 40%;
$w_35: 35%;
$w_30: 30%;
$w_20: 20%;
$w_10: 10%;
$w_5: 5%;


// variable font-size
$fs-0: 15px; //default
$fs-1: 13px;
$fs-2: 20px;
$fs-3: 24px;
$fs-4: 40px;

//variable margin
$mg-0: 2px;
$mg-1: 10px;
$mg-2: 25px;

//variable border-radius
$border-radius: 2px;

//variable padding
$pd-0: 5px; //default
$pd-1: 10px;
$pd-2: 20px;


//variable line-height
$line-height-0: 1.43; //default


//variable font-weight
$fw-normal: normal;
$fw-bold-0: 600;
$fw-bold-1: 700;
$fw-bold: bold;
