/* Global */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "./scss/Helper/variables";

h1,h2,h3,h4,h5 {
  font-weight: $fw-bold-1;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
}
 
a {
  text-decoration: none;
}

em {
  font-style: normal;
  font-weight: bold;
}

/* Components */
@import "./scss/Components/forms";
@import "./scss/Components/cards";
@import "./scss/Components/navbar";
@import "./scss/Components/cover";
@import "./scss/Components/filter";
@import "./scss/Components/table";

/* Helper */
@import "./scss/Helper/button";
@import "./scss/Helper/avatar";
@import "./scss/Helper/text-color";
@import "./scss/Helper/icons";

/* Plugins */
@import "./scss/Plugins/antd"; 

/* Layouts */
@import "./scss/Layouts/main";
@import "./scss/Layouts/list";
@import "./scss/Layouts/applicant";
@import "./scss/Layouts/recruiter";
@import "./scss/Layouts/login";
@import "./scss/Layouts/email";
@import "./scss/Layouts/student-profile";
@import "./scss/Layouts/register";
@import "./scss/Components/forms";
@import "./scss/Layouts/student-job-portal";
@import "./scss/Layouts/split-layout";
@import "./scss/Layouts/center";