/* Global */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "./scss/Helper/variables";

h1,h2,h3,h4,h5 {
  font-weight: $fw-bold-1;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
}
 
a {
  text-decoration: none;
}

dialog {
  background-color: transparent;
  border: none;

  &::backdrop {
    background: rgba(0,0,0,0.5);
  }
}

/* Components */
@import "./scss/Components/forms";
@import "./scss/Components/cards";
@import "./scss/Components/navbar";
@import "./scss/Components/cover";
@import "./scss/Components/filter";


/* Helper */
@import "./scss/Helper/button";
@import "./scss/Helper/avatar";

/* Plugins */
@import "./scss/Plugins/antd"; 

/* Layouts */
@import "./scss/Layouts/main-home";
@import "./scss/Layouts/applicant";
@import "./scss/Layouts/recruiter";
@import "./scss/Layouts/login";
@import "./scss/Layouts/email";
@import "./scss/Layouts/student-profile";
@import "./scss/Layouts/register";
@import "./scss/Components/forms";
@import "./scss/Layouts/student_job_portal";
a {
    text-decoration: none;
}