.card-tray {
  display: flex;
  align-items: center;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-padding: 0;

  padding: 20px 8px;
  gap: 16px;
}

.tray-item {
  width: 340px;
  transition: 0.4s ease-in-out;

  &:hover {
    scale: 1.05;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
  }

  img {
    height: 100px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }

  span {
    font-weight: 700;
  }

  .ant-card-body {
    padding: 16px 24px;
  }
}