.form {
  margin: 15px 0 10px 0;

  &-flex {
    display: flex;
    flex-direction: column;
    // gap: 20px;
  }

  &-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    &-white {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      margin: 20px 0;
      .full-width {
        grid-column: 1 / 3;
      }
    }
    .full-width {
      grid-column: 1 / 3;
    }
  }
  &-select {
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #000000 !important;
    &-dropdown {
      padding: 8px;
      width: 100%;
      border-radius: 8px;
      // border: 1px solid #000000;
    }
  }
  &-input {
    display: flex;
    flex-direction: column;

    // gap: 5px;
  }
  &-password {
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #000000;
  }
  &-email {
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #000000;
  }
  &-job {
    width: 50%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #000000;
    &-long {
      padding: 8px;
      border-radius: 8px;
      border: 1px solid #000000;
    }
  }
  &-item {
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #000000;
    // height: 45px;
    &-long {
      // height: 150px;
      border-radius: 8px;
      padding: 8px;
      border: 1px solid #000000;
    }
  }

  &-submit-button {
    display: flex;
    &-spinner {
      animation-name: spin;
      animation-duration: 500ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    &-continue {
      margin-left: auto;
    }
    &-back {
      align-items: right;
      margin-right: 20px;
    }
    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
