.form {
  &-basic-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    &-full-width {
      grid-column: 1 / 3;
    }

    &-button {
        text-align: center;
        padding-bottom: 20px;
    }
  }
}

.input-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
