.uni-cover {
  position: relative;

  .ant-card-cover > img {
    height: 169px;
    object-fit: cover;
  }

  .uni-wrapper {
    padding-left: 160px;
    display: flex;
    flex-direction: row;

    span {
      width: 100%;
    }
  }

  .uni-logo {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 132px;
    width: 132px;

    position: absolute;
    left: 20px;
    bottom: 20px;

    background-color: #fff;
    border: 1px $grey-color solid;
    border-radius: 4px;
    padding: 20px;

    img {
      object-fit: cover;
      width: 100%;
    }

    svg { font-size: 2rem; }
  }

  .uni-title {
    font-size: 1.5rem;
  }

  .logo-spacing {
    width: 148px;
  }
}

.public-hero {
  padding: 32px;
  color: white !important;
  background: radial-gradient(at top left, $pinkish-red, $purple-color);
  
  .ant-card-body {
    & > div {
      display: flex;
      align-items: end;
      gap: 36px;
      h1 { 
        font-weight: $fw-bold-3;
        color: white; 
      }
      h3 { color: white; }
      img {
        filter: brightness(0) invert(1);
      }
    }
  }
}