.navbar-with-sider {
  // margin-left: 10px;
  // min-height: 100vh;/
  background-color: #fff;
}
.navbar-sider {
  overflow: auto;
  // height: 100%;
  background: #fff;
  position: relative;
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
  // display: grid;
  &-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
  }
}

.navbar-wrapper {
  position: sticky;
  padding: 0px 24px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25);
  z-index: 999;

  &.no-shadow {
    box-shadow: none;

    .navbar {
      border-bottom: solid 1px $grey-light;
    }
  }
}

.navbar-splitter {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  font-weight: $fw-bold-2;
}

.navbar {
  height: 64px;
  position: sticky;
  display: flex;
  align-items: center;

  &.left-menu {
    display: flex;
    justify-content: stretch;
    width: 25%;

    & > div {
      width: 100%;
    }
  }

  &.center-menu {
    justify-content: center;
    width: 50%;


  }

  &.right-menu {
    justify-content: flex-end;
    width: 25%;

    .ant-menu-item {
      &::after {
        border: none !important;
      }
    }
  }

  .ant-menu {
    &-submenu {
      padding: 10px 20px !important;

      &-popup {
        border-radius: 8px;
      }
    }

    &-item {
      padding: 10px 20px !important;

      // Highlight when dropdown is open
      &.ant-dropdown-open {
        .icon-btn {
          .anticon {
            background-color: $grey-light;
          }
        }
      }

      .ant-btn {
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}

.search-bar {
  border-radius: 40px;
  width: 90%;
  max-width: 300px;
  background-color: $grey-light;

  &::placeholder {
    color: $grey-dark;
  }

  .anticon {
    color: $grey-dark;
  }

  input {
    background-color: transparent;
    &::placeholder {
      color: $grey-dark;
    }
  }

  &.hide-bar {
    max-width: 32px;
    min-width: 32px;
    padding-left: 8px;
  }
}

.avatar-dropdown {
  &-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.2s ease-out;

    &:hover {
      filter: brightness(0.75);
    }
  }

  .ant-dropdown-menu {
    padding: 8px;
    text-align: right;
    border-radius: 8px;

    &-item {
      color: black;
      font-size: 1rem;
      font-weight: $fw-bold-2;
      border-radius: 4px;

      &:hover {
        background-color: $grey-light;
      }
    }

    &-item-divider {
      background-color: $grey-dark;
    }
  }
}

.link-dropdown {
  a {
    font-weight: $fw-bold-1;
  }

  .ant-menu {
    width: calc(100% + 48px);
    border-radius: 4px;

    &-item {
      width: 100%;

      a > span {
        position: absolute;
        left: 16px;
        transition: 0.2s ease-out;
      }

      &:hover {
        a { 
          color: #1890ff;
          span {
            left: 24px;
          }
        }
      }

      &:active {
        background: none;
      }

      &-selected {
        a { color: rgba(0, 0, 0, 0.85); }
        background: none !important;
      }
    }
  }

  .ant-menu-item-divider  {
    margin: 0;
  }
}

.noti-dropdown {
  width: 360px;
  max-width: calc(100vw - 24px);
  border-radius: 8px;
  box-shadow:
    0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.panel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 12px;
  width: 100%;

  a {
    color: $pinkish-red;
    font-weight: $fw-bold-1;

    &:hover {
      text-decoration: underline;
    }
  }
}
