.navbar-with-sider {
  margin-left: 200px;
  // background-color: #313C49;
  color: white;
}
.navbar-sider {
  overflow: auto;
  height: 90vh;
  border-radius: 20px;
  background: #fff;
  // color: white;
  position: fixed;
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
  left: 0;
  top: 13;
  bottom: 0;
  &-logo {
    height: 35;
    margin: 25px;
    background: rgba(255, 255, 255, 0.2);
  }
}
.navbar-splitter {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 0 20px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25);
  font-weight: $fw-bold-0;
  position: sticky;
  z-index: 999;

  &.no-shadow {
    box-shadow: none;
    border-bottom: 3px;
  }
}

.navbar {
  height: 64px;
  position: sticky;
  display: flex;
  align-items: center;
  
  &.left-menu {
    width: 20%;
  }
  
  &.center-menu {
    justify-content: center;
    width: 50%;
  }
  
  &.right-menu {
    justify-content: flex-end;
    width: 20%;

    .ant-menu-item {
      &::after {
        border: none !important;
      }
    }
  }
  
  .ant-menu-item {
    height: 101%; // Adjustment because of antd
    padding: 10px 20px !important;
    
    // Highlight when dropdown is open
    &.ant-dropdown-open {
      .icon-btn {
        .anticon {
          background-color: $grey-light;
        }
      }
    }

    .ant-btn {
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

.search-bar {
  border-radius: 40px;
  min-width: 200px;
  max-width: 300px;
  background-color: $grey-light;

  &::placeholder {
    color: $grey-dark;
  }

  .anticon {
    color: $grey-dark;
  }

  input {
    background-color: transparent;
    &::placeholder {
      color: $grey-dark;
    }
  }

  &.hide-bar {
    max-width: 32px;
    min-width: 32px;
    padding-left: 9px;
  }
}

.avatar-dropdown {
  .ant-dropdown-menu {
    padding: 10px;
    text-align: right;
    border-radius: 8px;

    &-item {
      color: black;
      font-size: 1rem;
      font-weight: $fw-bold-0;

      &:hover {
        background-color: $grey-light;
      }
    }

    &-item-divider {
      background-color: $grey-dark;
    }
  }
}

.noti-dropdown {
  width: 360px;
  max-width: calc(100vw - 24px);
  border-radius: 8px;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.panel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 12px;
  width: 100%;

  a {
    color: $pinkish-red;
    font-weight: $fw-bold-0;

    &:hover {
      text-decoration: underline;
    }
  }
}


