// Use for job posts and info cards
.avatar-info-mini {
  display: flex;
  padding: 0 8px;
  column-gap: 10px;

  img {
    margin-left: -5px;
    border-radius: 50%;
    max-width: 20px;
    max-height: 20px;
  }
}