.text {
    &-red1 {
        color: $red-color1;
    }
    &-red {
        color: #F63D74;
    }
}

.balance-color {
    color: $green-color;
    border: 1px solid $green-color;
}

.link-arrow {
    text-align: right;
    margin: 0 60px;
    a {
        color: $purple-color;
        font-weight: $fw-bold-1;
        text-decoration: underline;
        &::after {
        content: " →";
        }
    }
}
