.blockchain-details {
  .status-label {
    margin-left: 12px;
    padding: 1px 12px;
    border-radius: 8px;
    .dot {
      width: 5px;
      height: 5px;
      border-radius: 2px;
    }
    &.main {
      background: #058499;
      span {
        color: $white-color;
      }
      .dot {
        background: #45b36b;
      }
    }
  }
  .appstatpercent {
    font-size: 16px !important;
  }
  &-error {
    color: red;
    font-size: 12px;
  }
  &-bordered-top {
    background: #fcfcfd;
    box-shadow: 0px 0px 40px rgba(5, 132, 153, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 10px;
    gap: 15px;
    margin: 12px;
  }
  &-uni {
    background: #058499;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    width: 100%;
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    padding: 12px;
    text-transform: uppercase;

    color: #ffffff;
  }
  &-uni-logo-div {
    padding: 0 !important;
    display: flex;
    justify-content: center;
  }
  &-uni-logo {
    width: 100%;
  }
  &-uni-number {
    margin-bottom: 0;
    font-size: 12px;
    color: #223052;
  }
  &-uni-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 25px;
    gap: 15px;
    width: 100%;
  }
  &-flex {
    font-size: 12px !important;
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 13px;
    color: #223052;
  }
  &-derivative {
    &-increase {
      color: #45b26b;
    }
    &-decrease {
      color: #f05178;
    }
  }
  .ath {
    height: 42px;
  }
  &-uni-content-summary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    gap: 10px;
    /* Old/Old_style/Button */
    width: 100%;
    border: 1.5px solid #058499;
    border-radius: 10px;
    font-size: 12px !important;
    font-weight: bold !important;
  }

  &-metrics {
    font-size: 14px;
    color: #fff;
    margin-bottom: 0;
    &-table {
      font-size: 14px;
      color: #fff;
      margin-bottom: 0;
      background: #0a222b;
      width: 100%;
      border-radius: 10px;
      padding: 10px;
      font-size: 12px;
    }
    &-row {
      padding: 5px 8px;
    }
  }

  &-follower {
    font-size: 14px;
    color: #223052;
  }
  &-combine {
    &-left {
      width: 85px;
      height: 85px;
      border-radius: 8px;
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      // box-shadow: 0 0 10px 0 #f4f5f7;
      .app-logo {
        display: block;
        width: 80px;
        border-radius: 8px;
        position: relative;
      }
    }
    &-right {
      margin-left: 20px;
      &-rating {
        div {
          margin-top: 5px;
        }
        p {
          font-weight: bold;
          font-size: 16px;
        }
        span {
          font-size: 16;
          font-weight: 450;
          color: #69778c;
          height: 20px;
        }
      }
      a {
        color: $blue-color;
      }
    }
  }
  &-category {
    margin-top: 20px;
    .icon {
      width: 18px;
      height: 18px;
      margin-right: 5px;
      transition: all 0.3s ease-in-out;
      z-index: 1;
    }
  }
  &-bolder {
    font-weight: bold;
  }
  &-tags {
    row-gap: 10px;
  }
  &-description,
  &-tags,
  &-social {
    margin-top: 20px;
  }
  &-social {
    &-facebook,
    &-twitter,
    &-youtube {
      height: auto;
      border-radius: 10px;
      margin: 0 10px;
    }
    &-facebook {
      span {
        background: #0062e0;
        color: #fff;
      }
      &:hover {
        color: transparent !important;
      }
    }
    &-twitter {
      span {
        color: #1ea1f2;
      }
    }
    &-youtube {
      span {
        background: #ff0000;
        color: $white-color;
        padding: 3px 5px;
        border-radius: 8px;
      }
    }
  }
  &-chart-wrapper {
    padding: 20px;
    padding-right: 20%;
    @media screen and (max-width: 992px) {
      padding-right: 0;
    }
    background: #ffffff;
    /* Old/Neutrals/6 */

    border: 1px solid #e6e8ec;
    border-radius: 16px;
  }
  &-chart-name {
    margin-left: 12px;
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;

    /* Old/Old_style/cl-text */

    color: #223052;
  }
  &-flex {
    display: flex;
    justify-content: space-between;
  }
  &-dashboard {
    h3 {
      text-transform: uppercase;
      margin: 0;
    }
    &-viewContract {
      transition: 0.25s;
      color: $blue-color;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      /* identical to box height, or 171% */

      display: flex;
      align-items: center;
      text-transform: capitalize;

      /* Old/Old_style/Button */

      color: #058499;
      &:hover {
        color: $blue-color;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        /* identical to box height, or 171% */

        display: flex;
        align-items: center;
        text-transform: capitalize;

        /* Old/Old_style/Button */

        color: #058499;
        text-decoration: underline;
      }
    }

    &-users,
    &-volume,
    &-transactions {
      margin-bottom: 30px;
      .dot {
        width: 8px;
        height: 8px;
        border-radius: 4px;
        background: #7652ff;
        margin-top: 8px;
      }
      .dot-yellow {
        width: 8px;
        height: 8px;
        border-radius: 4px;
        background: #f68922;
        margin-top: 8px;
      }
      .title {
        font-size: 1.1rem;
        margin-bottom: 10px;
      }
      .exp-item {
        font-size: 14px !important;
        margin: 3px 0;
        .value {
          margin: 0 10px 0 5px;
          color: #6f788f;
        }
        .time {
          color: #6f788f;
        }
        .decrease {
          font-weight: bold;
          color: #f05178;
          font-size: 14px !important;
        }
        .increase {
          font-weight: bold;
          color: #45b36b;
          font-size: 14px !important;
        }
      }
    }
    &-submit-img {
      height: 234px;
      background-image: url(/img/banner/banner_submit.png);
      background-repeat: no-repeat;
      background-size: contain;
      border-radius: 10px;
      padding: 50px 0 50px 20px;
      display: flex;
      align-items: start;
      justify-content: center;
      flex-direction: column;
      p {
        color: $black-color;
      }
    }
    .app-statistical {
      &-users,
      &-volume,
      &-transactions {
        font-weight: bold;
        font-size: 18px;
        span {
          &.decrease {
            color: #f05178 !important;
          }
          &.increase {
            color: #45b36b !important;
          }
        }
      }
      &-title {
        font-size: 16px;
        color: #223052;
      }
    }
    .decrease {
      font-size: 16px;
    }
  }
  &-right {
    &-follow {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
    &-topic {
      h3 {
        text-transform: uppercase;
      }
      &-item {
        a {
          display: block;
          width: 100%;
          height: 100%;
          background: #4bc9f0;
          border-radius: 10px;
          padding: 10px 0 0 10px;
          .name {
            margin-bottom: 5px;
            font-size: 1.1rem;
          }
          .count {
            font-size: 0.9rem;
          }
        }
        &:first-child {
          a {
            background: linear-gradient(95.79deg, #642b73 0.9%, #c5426e 99.55%);
          }
        }
      }
    }
  }
  &-comment {
    &-box {
      border-bottom: 1.5px solid #e6e8ec;
      margin-bottom: 20px;
      padding: 0 0 20px 0;
      &:last-child {
        border-bottom: none;
      }
      &-name {
        margin: 0 10px;
        font-size: 18px;
        font-weight: bold;
      }
      &-time {
        font-size: 0.9rem;
        color: $grey-color;
      }
      &-description {
        font-size: 0.9rem;
      }
      .rate {
        margin: 0 10px;
      }
    }
  }
  &-price {
    color: #223052;
    font-size: 18px;
    margin-bottom: 20px;
    &-switch {
      margin-right: 20px;
    }
    .ant-switch-checked {
      background-color: #223052;
    }
    .mobile {
      margin-left: 0;
      padding-left: 0;
    }
  }
  &-review {
    &-star {
      font-family: "Circular Std";
      font-style: normal;
      font-weight: 450;
      //   line-height: 28px;
      /* identical to box height */
      padding-bottom: 0;
      margin: 10px 0;
      color: rgba(34, 48, 82, 0.65);
    }
    &-comment {
      width: 100%;
      min-height: 140px;
      margin: 10px 0;
      color: rgba(34, 48, 82, 0.65);
    }
  }
  &-chevron {
    margin-left: 5px;
    margin-bottom: 5px;
  }
  &-viewmore {
    margin-top: 10px;
  }
  &-subcomment {
    &-section {
      width: 100%;
      padding-left: 15px;
      border-left: 3px solid #1dbbbd;
      color: $black-color;
    }
    &-box {
      width: 100%;
    }
  }
  &-media {
    width: 100%;
    padding: 15px;
    border-radius: 30px;
  }
  &-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    width: 100%;
  }
  &-section-title {
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #223052;
  }
  &-title {
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: #223052;
  }
  &-date {
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    text-align: left;
    text-transform: capitalize;
    color: rgba(34, 48, 82, 0.65);
  }
  .apexcharts-legend.apexcharts-align-left.apx-legend-position-bottom {
    display: flex;
    // justify-content: space-between;
    gap: 10px;
  }
  .apexcharts-legend-text {
    margin-left: 5px;
    font-size: 14px !important;
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 500 !important;
    width: 100px;
    word-spacing: normal !important;
    list-style: 24px;
    color: #223052 !important;
  }
  .apexcharts-legend-series {
    width: 100;
    margin-right: 25px !important;
  }
  .apexcharts-canvas {
    margin-bottom: 100px !important;
  }
  .idontknowwhat {
    text-align: right;
  }
  .title {
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;

    text-align: center;

    color: #223052;
  }
  .main-network {
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    /* identical to box height, or 114% */

    text-align: center;
    text-transform: capitalize;
    margin-left: 8px;
    color: #ffffff;
  }
  .edit {
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */

    text-align: center;

    /* Old/Old_style/Button */

    color: #058499;
  }
  &-bc-description {
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    word-spacing: -3px;
    color: #6f788f;
  }
  .view-website {
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    /* identical to box height, or 114% */

    text-align: center;
    text-transform: capitalize;

    color: #ffffff;
  }
  .social {
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */

    text-align: center;
    text-transform: capitalize;

    /* Old/Old_style/cl-text */

    color: #223052;
  }
  .colliksha {
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */

    text-align: center;
    text-transform: capitalize;

    /* Old/Old_style/cl-text */
    margin-left: 8px;
    color: #223052;
  }
  .lower-title {
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */

    display: flex;
    align-items: center;
    text-transform: uppercase;

    /* Old/Old_style/cl-text */

    color: #223152;
  }
  .filter {
    color: #223052;
    font-size: 16px;
  }
  .on-chain {
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 114% */

    text-align: center;
    text-transform: capitalize;

    color: #ffffff;
  }
  .br {
    height: 25px;
  }
  .under-logo {
    color: #223052;
    font-size: 14px;
  }
  .hashtag {
    color: #058499;
    font-size: 14px;
    font-weight: 700;
  }
  .ant-rate {
    @media screen and (max-width: 992px) {
      font-size: 12px;
    }
  }
  .mobile-carousel {
    &-header {
      display: flex;
      justify-content: space-around;
      color: #058499;
      column-gap: 10px;
    }
  }

  .ant-tabs-content-holder {
    margin-bottom: 20px;
    padding: 0 10px;
  }
  .slide {
    &-social {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #058499 !important;
    background-color: transparent !important;
  }
  .abc {
    height: "160px";
    color: "black";
    line-height: "160px";
    text-align: "center";
    background: "#364d79";
  }
  .chart-slider {
    padding: 5px 10px;
    border: 1.5px solid #058499;
    border-radius: 6px;
    margin-bottom: 15px;
  }
  .dont-display {
    display: none;
  }
  .vertical-divider {
    color: #058499;
    height: 100%;
    width: 1px;
    padding: 10px;
  }
  .ant-divider-vertical {
    border-left: 1.5px solid #058499;
    margin: 0 12px 0 4px;
  }
}
