#navbar_home {
    position: fixed;
    top: 0;
    background-color: #FCFCFD;
    box-shadow: 0px 10px 20px rgba(34, 48, 82, 0.25);
    z-index: 1000;
    width: 100%;
    .searchTerm {
        width: 250px;
        border: 1px solid rgba(139, 152, 156, 0.5);
        border-right: none;
        background-color: transparent;
        padding: 15px;
        height: 40px;
        color: $black-color;
        border-radius: 90px 0 0 90px;
        outline: none;
        @include sm {
            width: 80%;
        }
    }
    .searchButton {
        width: 40px;
        height: 40px;
        border: 1px solid rgba(139, 152, 156, 0.5);
        border-left: none;
        background-color: transparent;
        text-align: center;
        border-radius: 0 90px 90px 0;
        cursor: pointer;
        font-size: 15px;
        span {
            background-color: #058499;
            color: $white-color;
            border-radius: 50%;
            padding: 7px 8px;
            margin-left: -5px;
            svg {
                margin-top: -4px;
            }
        }
    }
    .navbar_home_pc {
        display: flex !important;
    }
    .navbar_home_mobile {
        display: none !important;
    }
    @include md {
        .display_none_res {
            display: none !important;
        }
        .img-logo {
            border-right: none !important;
        }
        .ant-menu {
            display: none !important;
        }
        .navbar_home_mobile {
            .navbar_home_mobile_sub {
                display: none !important;
            }
            display: flex !important;
            button {
                font-size: 1.4rem;
            }
        }
    }
    @include sm {
        .navbar_home_pc {
            display: none !important;
        }
        .navbar_home_mobile {
            display: flex !important;
            button {
                font-size: 1.4rem;
                color: $white-color;
            }
        }
    }
}
