.main-submit {
  h3,
  h5,
  p,
  label,
  .ant-radio-wrapper > span {
    color: #223052;
  }
  .ant-radio-wrapper > span {
    font-size: 18px;
  }
  input,
  textarea {
    border: 1.5px solid #223052;
    border-radius: 8px;
  }
  input.ant-select-selection-search-input {
    border: 1.5px solid #223052 !important;
    border-radius: 8px !important;
  }
  .super-title {
    text-align: center;
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    letter-spacing: -0.01em;

    /* Old/Old_style/cl-text */

    color: #223052;
  }
  p.top {
    color: #788096 !important;
    font-size: 20px;
  }
  .suggested {
    font-size: 16px;
    letter-spacing: -0.01em;
    /* Old/Old_style/Button */
    color: #058499;
  }
  .green {
    color: #058499;
  }
  .light-grey {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #b1b5c3 !important;
  }
  .kindoftitle {
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 700;
    font-size: 20px !important;
    letter-spacing: -0.01em;

    /* Old/Old_style/cl-text */

    color: #223052;
  }
  .maximum {
    font-size: 16px;
  }
  .highquality {
    font-size: 18px;
  }
  .jpgpng {
    color: #6E778E;
  }
  .dappdotcom {
    color :#6F788F;
    font-size: 20px;
  }
  @include sm {
    padding: 0 5px;
  }
  .label-input {
    display: block;
    font-size: 1.2rem;
  }
  &-email {
    width: 50%;
    @include sm {
      width: 100%;
    }
  }

  &-text-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: 1.5px solid #223052;
    border-radius: 8px;
  }
  &-char-counter {
    padding-right: 10px;
    padding-left: 10px;
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;

    /* Old/Old_style/cl-text */

    color: #223052;

    &-error {
      padding-right: 10px;
      padding-left: 10px;
      color: red;
      font-family: "Circular Std";
      font-style: normal;
      font-weight: 450;
      font-size: 16px;
      line-height: 20px;
      display: flex;
      align-items: center;
      letter-spacing: -0.01em;

      /* Old/Old_style/cl-text */
    }
  }
  &-trans-text {
    border: none !important;
    width: 80%;
    &:focus {
      box-shadow: none;
      outline: none;
      border: none !important;
    }
  }
  &-media {
    margin: 2px 10px;
  }
  &-text-description {
    height: 150px;
  }
  &-section-header {
    margin-top: 40px;
    font-weight: bold;
    color: #223052;
    font-size: 28px;
    line-height: 48px;
    letter-spacing: -0.01em;
  }
  &-project-name,
  &-dapp-website,
  &-product-status,
  &-ticker,
  &-contract,
  &-decimal,
  &-global {
    width: 100%;
  }
  &-avatar,
  &-avatar-area,
  &-avatar-empty,
  &-avatar-logo {
    width: 200px;
    height: 200px;
    border: 1.5px dashed #223052;
    padding: 10px 10px 20px 10px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    p {
      font-size: 0.8rem;
      color: #b1b5c4;
      margin: 15px 0 0 0;
    }
    input[type="file"] {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      z-index: 200;
      top: 0;
      left: 0;
      opacity: 0;
      outline: none;
      border: none;
      background: transparent;
      cursor: pointer;
    }
  }
  &-avatar-empty {
    padding: 0;
  }
  &-avatar-area,
  &-avatar-empty {
    
    width: 100%;
    height: 150px;
    padding: 10px 20px 20px 20px;
  }
  &-avatar-logo {
    width: 65px;
    height: 65px;
    padding: 10px;
    @include sm {
      width: 130px;
    }
  }
  &-input-suffix {
    border: 1.5px solid #223052;
    padding: 7px 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    width: 100%;
    &-logo {
      margin-right: 10px;
      color: $blue-color;
    }
    input {
      background-color: transparent !important;
      border: none !important;
      border-radius: 0 !important;
      padding: 0 !important;
      width: 100%;
    }
  }
  &-channel-wrap {
    display: flex;
    column-gap: 60px;
    margin: 30px 0 44px 0;
  }
  &-character-count {
    color: #1dbbbd;
    &-hidden {
      display: none;
      transition: 0.2s;
    }
    &-error {
      color: red;
    }
  }
  .img-wrapper {
    .x {
      position: absolute;
      z-index: 99;
      color: #223052;
      cursor: pointer;
    }
  }
  .upload-img {
    width: 100%;
    display: block;
  }
  .upload-img-wide {
    height: 100%;
    width: 100%;
    display: block;
  }
}
