.advisor {
    padding: 20px;
    &-title {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    // &-filter {
    //     display: flex;
    //     align-items: left;
    //     margin-bottom: 20px;
    //     &-name {
    //         margin-right: 20px;
    //     }
    //     &-type {
    //         margin-right: 20px;
    //     }
    // }
    &-table {

    }
    &-filter {
        width: 200px;
    }
}