.job-desc {
  margin: 40px;
  p {
    color: black;
  }
}
.job-desc-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.job-desc-input {
  color: black;
  border-radius: 5px;
}
.job-desc-content {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}
.job-desc-pink {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: pink;
  padding: 20px;
  border-radius: 10px;
}

.job-desc-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.job-desc-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  cursor: pointer;
}

.job-desc-button {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  margin-left: auto;
  float: right;
}

.job-school {
  margin: 20px;
  height: 1000px;
  .ant-checkbox-group {
    display: flex;
    flex-direction: column;
  }
}

.job-school-checkbox {
  height: 20px;
}
