.login {
  display: flex;
  &-left {
    flex: 1;
    height: 100vh;
    /* theme */
    background: linear-gradient(
      180deg,
      $pinkish-red -10.74%,
      $purple-color 121.39%
    );
    // transform: matrix(-1, 0, 0, 1, 0, 0);
    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100%;
    }
  }
  &-center {
    flex: 1;
    height: 100vh;
    /* theme */
    background: linear-gradient(180deg, #acb6e5 -10.74%, #86fde8 121.39%);
    // transform: matrix(-1, 0, 0, 1, 0, 0);
    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100%;
    }
  }
  &-right {
    flex: 1;
    height: 100vh;
    /* theme */
    background: linear-gradient(180deg, #f12711 -10.74%, #f5af19 121.39%);
    // transform: matrix(-1, 0, 0, 1, 0, 0);
    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100%;
    }
  }
}
