@import "../Helper/mixin";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 32px;

  &-content {
    padding: 0;
    max-width: 1120px;
    width: 100%;

    section {
      margin-bottom: 32px;
    }
  }

  &-mt {
    margin-top: 20px;
  }
}
