.main-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 32px;

  .main__content {
    padding: 0;
    max-width: 1464px;
    width: 100%;

    section {
      margin-bottom: 36px;

    }
  }
}

.layout-with-sider {
  margin-left: 200px;
}