.main {
  &-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 32px;

    background-color: $grey-light-background;

    .main__content {
      padding: 0;
      max-width: 1464px;
      width: 100%;

      section {
        margin-bottom: 36px;

        .see-more {
          text-align: right;
          a {
            color: $purple-color;
            font-weight: 700;
            text-decoration: underline;
            &::after {
              content: " →";
            }
          }
        }
      }
    }
  }
}
