.main-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 32px;

  .main__content {
    padding: 0;
    max-width: 1464px;
    width: 100%;

    section {
      margin-bottom: 36px;

      .see-more {
        text-align: right;
        margin: 0 60px;
        a {
          color: $purple-color;
          font-weight: $fw-bold-1;
          text-decoration: underline;
          &::after {
            content: " →";
          }
        }
      }
    }
  }
}

.layout-with-sider {
  margin-left: 200px;
  // background-color: #313C49;
  // color: white;
}