.recruiter-job {
  &-post {
    h1 {
      font-size: 25px;
    }
    padding: 20px;
  }
}
.recruiter-schools {
  margin: 20px;
  &-search {
    margin-top: 20px;
  }
  &-grid {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  &-card {
    width: 18em;
    display: inline-block;
    &-info {
      // display: inline-block;
      margin-top: 20px;
    }
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-wrap: wrap;
  }
}
.recruiter-dashboard {
  padding: 20px;
  &-header {
    display: flex;
    margin-bottom: 15px;
  }
  &-badges {
  }
  &-searchBar {
    margin-left: auto;
  }
  &-mainStats {
    display: flex;
    margin-bottom: 15px;
    gap: 20px;
  }
  &-graph {
    flex: 2;
  }
  &-applicants {
    flex: 1;
  }
  &-addStats {
    display: flex;
    margin-bottom: 15px;
    gap: 20px;
  }
  &-g1 {
    flex: 1;
  }
  &-g2 {
    flex: 1;
  }
  &-g3 {
    flex: 1;
  }
}
