.register {
  display: flex;
  &-sideBar {
    flex: 1;
  }
  &-content {
    flex: 2;
    display: flex;
    align-items: center; /* center vertically */
    justify-content: center; /* center horizontally */
    height: 100vh;
    &-error {
      background-color: #fee2e2;
      color: #b91c1c;
      border: 1px solid #b91c1c;
      font-size: 12px;
      padding: 5px;

      &.small {
        font-size: 12px;
        padding: 5px;
      }

      &.large {
        font-size: 24px;
        padding: 20px;
      }
    }
    &-form {
      h1 {
        text-align: center;
      }
      &-pincode {
        text-align: center;
      }
    }
  }
}
