.register {
  display: flex;
  &-sideBar {
    flex: 1;
  }
  &-content {
    flex: 2;
    display: flex;
    align-items: center; /* center vertically */
    justify-content: center; /* center horizontally */
    height: 100vh;
    overflow-y: auto;
    &-error {
      background-color: #fee2e2;
      color: #b91c1c;
      border: 1px solid #b91c1c;
      font-size: 12px;
      padding: 5px;

      &.small {
        font-size: 12px;
        padding: 5px;
      }

      &.large {
        font-size: 24px;
        padding: 20px;
      }
    }
    &-form {
      min-width: 280px;
      h1 {
        margin-bottom: 25px;
        text-align: center;
      }
      a {
        &:hover {
          text-decoration: underline;
        }
      }
      p {
        margin-bottom: 8px;
      }
      &-pincode {
        text-align: center;
      }
      .form {
        margin: 16px 0px;
      }
    }
  }

  button[type="submit"] {
    margin-top: 4px;
  }

  .footnote {
    margin-top: 60px;
  }
}
