.split-layout {
  margin-left: auto;
  margin-right: auto;
  width: min(calc(100vw - 20px), 1440px);
  display: flex;
  align-items: flex-start;
  padding: 48px 40px 40px 40px;
  gap: 32px;

  &-sticky {
    position: sticky;
    max-height: 0;
    top: 112px;
    flex: 1;
  }

  .flex-xs {
    flex: 1;
  }
  .flex-sm {
    flex: 1.5;
  }
  .flex-md {
    flex: 3;
  }
  .flex-lg {
    flex: 4;
  }
  .flex-xl {
    flex: 5;
  }

  &-item {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &.right-border {
      border-right: solid 1px $grey-light;
    }

    &.scroll {
      height: calc(100dvh - 64px);
      overflow: auto;
    }
  }

  &.no-padding {
    padding: 0;
  }

  .no-padding {
    padding: 0;
  }
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  transition: 0.2s;
  cursor: col-resize;

  &:hover {
    background-color: $pinkish-red;
  }
}
