.split-layout {
  display: flex;
  align-items: flex-start;
  padding: 48px 40px 0px 40px;

  &-sticky {
    position: sticky;
    max-height: 0;
    top: 116px;
    flex: 1;
  }

  &-item {
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding: 0px 40px 40px 40px;

    &.flex-xs { flex: 1; }
    &.flex-sm { flex: 2; }
    &.flex-md { flex: 3; }
    &.flex-lg { flex: 4; }
    &.flex-xl { flex: 5; }

    &.right-border {
      border-right: solid 1px $grey-light;
    }

    &.scroll {
      height: calc(100dvh - 64px);
      overflow: auto;
    }
  }

  &.no-padding {
    padding: 0;
  }


  .no-padding {
    padding: 0;
  }
}