.job-portal {
  &-container {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0 50px;
  }
  &-search-bar {
    width: 250px;
    height: 30px;
    text-align: center;
    align-items: center;
    border-radius: 40px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #dddddd;
    mix-blend-mode: darken;
    .ant-input {
      background: #dddddd;
    }
  }
  &-list {
  
    &-result {
      height: 100px;
      line-height: 100px;
      text-align: left;
      padding-left: 20px;
    }
    &-card {
      height: 250px;
      background-color: #D30B81;
      width: 100%;
      margin-bottom: 10px;
      padding: 25px 15px 15px 15px;
      &-title {
        button {
          background: none!important;
          color: white!important;
          border: none!important;
          height: 50px;
          width: 50px;
          border-radius: 100%;
        }
      }
    }
  }
}
