.student {
  &-profile {
    text-align: left;

    &-avatar {
      position: absolute;
      top: 40px;
      left: 32px;
      margin: 0 auto;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: $grey-light;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      img {
        object-fit: cover;
        height: 100%;
      }

      & > svg {
        transform: translateY(8px);
        object-fit: cover;
        height: 100%;
      }

      .anticon-loading {
        svg {
          font-size: $fs-7;
        }
      }
    }

    &-header {
      margin-top: 24px;
      h1 {
        font-size: $fs-5;
      }
    }

    &-info {
      margin-top: 20px;

      &-item {
        display: flex;
        align-items: start;
        justify-content: stretch;
        margin-top: 4px;
        font-size: $fs-3;
        gap: 12px;

        span {
          width: 100%;
        }

        svg {
          height: $fs-6;
        }
      }
    }

    .ant-card {
      &-cover {
        img {
          height: 75px;
          border-radius: 8px 8px 0px 0px;
          object-fit: cover;
        }
        .gradient {
          height: 75px;
          border-radius: 8px 8px 0px 0px;
          background: radial-gradient(at top left, $grey-color, $grey-dark);
        }
      }
      &-body {
        padding-left: 32px;
        padding-right: 32px;
      }
    }
  }

  &-job {
    display: flex;
    flex-direction: column;
    gap: 36px;

    a {
      color: black;
      font-size: 1.3rem;
      font-weight: $fw-bold-1;
      text-decoration: underline;
      &::after {
        content: " →";
      }
    }

    &-section {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
}

.main-panel {
  display: flex;
  flex-direction: column;
  gap: 28px;
  flex: 3;
  padding: 0px 40px;

  &-card {
    padding: 16px 20px;

    .ant-card {
      &-body {
        padding-top: 12px;
        padding-bottom: 12px;
      }
    }

    .embla {
      &__container {
        width: 550px;
      }
    }
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-info {
    display: flex;
    gap: 24px;

    &-logo {
      width: 80px;
      height: 100px;

      img {
        object-fit: cover;
        width: 100%;
      }
    }

    &-center {
      flex: 2;
      h3 {
        font-size: $fs-4;
      }
      b {
        font-weight: $fw-bold-3;
      }
      &-date {
        color: $grey-dark;
      }
      &-description {
        padding-top: 8px;
      }
    }
  }

  &-form {
    &-delete-btn {
      flex: 2;
      text-align: left;
    }
  }
}
